<#import "../layout/base-admin.ftl" as layout>

<@layout.userLayout "ADMIN - HomePage">

<#-- ============== PAGE LOCATION =================-->
    <#include "page-location.ftl"/>

<#-- ============== MAIN CONTENT =================-->
<div class="panel panel-transparent">
    <div class="panel-body">

    </div>
</div>

</@layout.userLayout>


