<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright © 2017 </span>
            <span class="font-montserrat">Pages</span>.
            <span class="hint-text">All rights reserved. </span>
        </p>
        <div class="clearfix"></div>
    </div>
</div>